@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px)
and (orientation : portrait) {

header {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

header h1 {
  font-size: 70px;
}

header p {
  font-size: 23px;
}

nav {
  margin: 25px 0 10px 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

nav a {
  margin: 0;
  font-size: 25px;
}

.title-screen {
  background-size: cover;
  background-position: center;
  height: 100%;
}

.about-container {
  flex-direction: column-reverse;
}

.about-container h1 {
  font-size: 50px;
}

.about-container p {
  font-size: 30px;
  line-height: 50px;
}

.about-container a {
  font-size: 30px;
  color: rgb(160, 55, 178);
}

.about-container .about-img {
  margin-bottom: 10px;
  margin-right: 70px;
}

#performativity-logo {
  height: 550px;
  margin-top: 50px;
}

#scroll-down p {
  font-size: 20px;
}

.news p {
  font-size: 30px;
}

.news {
  padding: 50px 0 75px 0;
}

.news h1 {
  font-size: 50px;
}

.news a {
  font-size: 30px;
  margin: 10px 0;
}

.resume-full {
  padding: 0 0 25px 0;
}

.resume-full p {
  font-size: 16px;
}

.resume-box p {
  font-size: 10px;
}

#photo-header {
  font-size: 50px;
}

.photo-container {
  height: inherit;
}

.photo-container img {
  width: 100%;
  margin-bottom: 35px;
}

.reel-button {
  border: none;
  background-color: rgb(160, 55, 178);
  color: white;
}

#writing a {
  color: white;
}

.reel-links {
  width: 100%;
}

#large-video {
  width: 100%;
}

.reels {
  margin: 0 auto;
}

.reels h1 {
  font-size: 50px;
}

.reels h3 {
  font-size: 25px;
}

.sub-header {
  margin-bottom: 1em;
}

#sub-header {
  font-size: 35px;
}

.reels {
  min-height: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reels iframe {
  width: 100%;
  height: 500px;
  margin-bottom: 35px
}

#large-video {
  height: 800px;
}

.audio p {
  font-size: 22px;
  width: 50%;
}

audio {
  height: inherit;
}

.audio-box {
  align-items: flex-start;
  margin: 0;
  height: 200px;
}

footer img {
  height: 50px;
}

}

@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px)
and (orientation : landscape) {

.title-screen {
  height: 100%;
}

}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : portrait) {

header {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

header h1 {
  font-size: 70px;
}

header p {
  font-size: 23px;
}

nav {
  margin: 25px 0 10px 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

nav a {
  margin: 0;
  font-size: 25px;
}

.title-screen {
  background-size: cover;
  background-position: center;
  height: 100%;
}

.about-container {
  flex-direction: column-reverse;
}

.about-container h1 {
  font-size: 50px;
}

.about-container p {
  font-size: 30px;
  line-height: 50px;
}

.about-container a {
  font-size: 30px;
  color: rgb(160, 55, 178);
}

.about-container .about-img {
  margin-bottom: 10px;
  margin-right: 70px;
}

#performativity-logo {
  height: 550px;
  margin-top: 50px;
}

#scroll-down p {
  font-size: 20px;
}

.news p {
  font-size: 30px;
}

.news {
  padding: 50px 0 75px 0;
}

.news h1 {
  font-size: 50px;
}

.news a {
  font-size: 30px;
  margin: 10px 0;
}

.resume-full {
  padding: 0 0 25px 0;
}

.resume-full p {
  font-size: 16px;
}

.resume-box p {
  font-size: 10px;
}

#photo-header {
  font-size: 50px;
}

.photo-container {
  height: inherit;
}

.photo-container img {
  width: 100%;
  margin-bottom: 35px;
}

.reel-button {
  border: none;
  background-color: rgb(160, 55, 178);
  color: white;
}

#writing a {
  color: white;
}

.reel-links {
  width: 100%;
}

#large-video {
  width: 100%;
}

.reels {
  margin: 0 auto;
}

.reels h1 {
  font-size: 50px;
}

.reels h3 {
  font-size: 25px;
}

.sub-header {
  margin-bottom: 1em;
}

#sub-header {
  font-size: 35px;
}

.reels {
  min-height: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reels iframe {
  width: 100%;
  height: 500px;
  margin-bottom: 35px
}

#large-video {
  height: 800px;
}

.audio p {
  font-size: 22px;
  width: 50%;
}

audio {
  height: inherit;
}

.audio-box {
  align-items: flex-start;
  margin: 0;
  height: 200px;
}

footer img {
  height: 50px;
}

}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : landscape) {

.title-screen {
  height: 100%;
}

}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {

header {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

header h1 {
  font-size: 70px;
}

header p {
  font-size: 23px;
}

nav {
  margin: 25px 0 10px 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

nav a {
  margin: 0;
  font-size: 25px;
}

.title-screen {
  background-size: cover;
  background-position: center;
  height: 100%;
}

.about-container {
  flex-direction: column-reverse;
}

.about-container h1 {
  font-size: 50px;
}

.about-container p {
  font-size: 30px;
  line-height: 50px;
}

.about-container a {
  font-size: 30px;
  color: rgb(160, 55, 178);
}

.about-container .about-img {
  margin-bottom: 10px;
  margin-right: 70px;
}

#performativity-logo {
  height: 550px;
  margin-top: 50px;
}

#scroll-down p {
  font-size: 20px;
}

.news p {
  font-size: 30px;
}

.news {
  padding: 50px 0 75px 0;
}

.news h1 {
  font-size: 50px;
}

.news a {
  font-size: 30px;
  margin: 10px 0;
}

.resume-full {
  padding: 0 0 25px 0;
}

.resume-full p {
  font-size: 16px;
}

.resume-box p {
  font-size: 10px;
}

#photo-header {
  font-size: 50px;
}

.photo-container {
  height: inherit;
}

.photo-container img {
  width: 100%;
  margin-bottom: 35px;
}

.reel-button {
  border: none;
  background-color: rgb(160, 55, 178);
  color: white;
}

#writing a {
  color: white;
}

.reel-links {
  width: 100%;
}

#large-video {
  width: 100%;
}

.reels {
  margin: 0 auto;
}

.reels h1 {
  font-size: 50px;
}

.reels h3 {
  font-size: 25px;
}

.sub-header {
  margin-bottom: 1em;
}

#sub-header {
  font-size: 35px;
}

.reels {
  min-height: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reels iframe {
  width: 100%;
  height: 500px;
  margin-bottom: 35px
}

#large-video {
  height: 800px;
}

.audio p {
  font-size: 22px;
  width: 50%;
}

audio {
  height: inherit;
}

.audio-box {
  align-items: flex-start;
  margin: 0;
  height: 200px;
}

footer img {
  height: 50px;
}

}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : landscape) {

.title-screen {
  height: 100%;
}

}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
and (orientation : portrait) {

header {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

header h1 {
  font-size: 70px;
}

header p {
  font-size: 23px;
}

nav {
  margin: 25px 0 10px 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

nav a {
  margin: 0;
  font-size: 25px;
}

.title-screen {
  background-size: cover;
  background-position: center;
  height: 100%;
}

.about-container {
  flex-direction: column-reverse;
}

.about-container h1 {
  font-size: 50px;
}

.about-container p {
  font-size: 30px;
  line-height: 50px;
}

.about-container a {
  font-size: 30px;
  color: rgb(160, 55, 178);
}

.about-container .about-img {
  margin-bottom: 10px;
  margin-right: 70px;
}

#performativity-logo {
  height: 550px;
  margin-top: 50px;
}

#scroll-down p {
  font-size: 20px;
}

.news p {
  font-size: 30px;
}

.news {
  padding: 50px 0 75px 0;
}

.news h1 {
  font-size: 50px;
}

.news a {
  font-size: 30px;
  margin: 10px 0;
}

.resume-full {
  padding: 0 0 25px 0;
}

.resume-full p {
  font-size: 16px;
}

.resume-box p {
  font-size: 10px;
}

#photo-header {
  font-size: 50px;
}

.photo-container {
  height: inherit;
}

.photo-container img {
  width: 100%;
  margin-bottom: 35px;
}

.reel-button {
  border: none;
  background-color: rgb(160, 55, 178);
  color: white;
}

#writing a {
  color: white;
}

.reel-links {
  width: 100%;
}

#large-video {
  width: 100%;
}

.reels {
  margin: 0 auto;
}

.reels h1 {
  font-size: 50px;
}

.reels h3 {
  font-size: 25px;
}

.sub-header {
  margin-bottom: 1em;
}

#sub-header {
  font-size: 35px;
}

.reels {
  min-height: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reels iframe {
  width: 100%;
  height: 500px;
  margin-bottom: 35px
}

#large-video {
  height: 800px;
}

.audio p {
  font-size: 22px;
  width: 50%;
}

audio {
  height: inherit;
}

.audio-box {
  align-items: flex-start;
  margin: 0;
  height: 200px;
}

footer img {
  height: 50px;
}

}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
and (orientation : landscape) {

.title-screen {
  height: 100%;
}

}
