body {
  margin: 0 0 0 10%;
  background-color: rgb(245, 245, 245);
}

h1{
  font-family: 'Shadows Into Light Two', cursive;
  font-weight: bold;
  color: rgb(160, 65, 117);
}

h2, h3 {
  font-family: 'Quicksand', sans-serif;
  font-weight: lighter;
}

p {
  font-family: 'Quicksand', sans-serif;
}

/*------------------------------------------*/


.title-screen {
  height: 100vh;
  width: 100%;
  margin-left: -10%;
  position: fixed;
  top: 0;
  z-index: 2;
  background-image: url("public/stock-subway.jpeg");
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1.5s;
}

        .title-screen h1 {
          color: white;
          font-size: 100px;
          font-weight: lighter;
          text-shadow: 1.5px 1.5px rgb(160, 65, 117);
        }


/*------------------------------------------*/


.header {
  height: 100px;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  position: absolute;
  top: 0;
  opacity: 0;
}

        .title {
          height: 100px;
          width: 70%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          margin-left: -30%;
        }

        .title h1 {
          margin: 0;
          font-family: 'Shadows Into Light Two', cursive;
          font-size: 40px;
          font-weight: bold;
        }

        .title p {
          margin: 0;
          font-family: 'Quicksand', sans-serif;
        }

        .header nav {
          height: 65px;
          width: 50%;
          display: flex;
          justify-content: center;
          align-items: flex-end;
          position: absolute;
          top: 40px;
          left: 50%;
        }

        .header nav p {
          margin-left: 7%;
          font-size: 15px;
        }

        .header nav p:hover {
          cursor: pointer;
          color: rgb(160, 65, 117);
        }


/*-----------------------------------*/


.about {
  width: 80%;
  height: 1200px;
  position: absolute;
  top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 1;
  transition: 0.5s;
  opacity: 0;
}

        .about p {
          margin-top: 5%;
        }

        .about-container {
          height: 800px;
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-start;
          border-bottom: 1px solid grey;
        }

              .news-below {
                position: absolute;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
                width: 48%;
                margin-top: 2%;
              }

              #news-below-text {
                font-size: 13px;
                color: rgb(160, 65, 117);
              }

              #news-below {
                height: 16px;
                width: 16px;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                line-height: 20px;
                box-sizing: border-box;
                border: 1px solid rgb(160, 65, 117);
                color: rgb(160, 65, 117);
                margin-left: 3%;
                font-size: 12px;
              }

                      #news-below:hover {
                        background-color: rgb(160, 65, 117);
                        color: white;
                        border: none;
                        cursor: pointer;
                      }

              .about-container h1 {
                margin-top: 10%;
                font-size: 35px;
              }

              .about-text {
                height: 700px;
                width: 53%;
              }

              .about-text p {
                font-size: 19px;
                line-height: 30px;
              }

              .about img {
                width: 42%;
                margin-top: 5%;
              }

        .news {
          height: 350px;
          width: 80%;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          margin-left: 20%;
        }

                .news h1 {
                  margin: 10% 0 0 0;
                  font-size: 35px;
                }

                .news p {
                  font-size: 18px;
                  margin-bottom: 7.5%;
                }

                .news-container {
                  width: 80%;
                }

                .news-reel:hover, .news-legit:hover {
                  color: rgb(160, 65, 117);
                  cursor: pointer;
                }


/*-----------------------------------*/


.resume {
  width: 80%;
  height: 1200px;
  position: absolute;
  top: 100px;
  /*background-color: #FAFAFA;*/
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 0;
  transition: 0.5s;
  opacity: 0;
}

        .resume h1 {
          margin: 5% 0 3% 0;
          font-size: 45px;
        }

        .resume h3 {
          font-size: 20px;
          margin: 0;
          margin-top: 2%;
          margin-bottom: 1%;
          display: block;
          height: 20px;
          width: 80%;
          display: flex;
          align-items: flex-start;
        }

        .resume p {
          font-size: 13px;
          margin: 0;
        }

        .resume-container {
          width: 80%;
          height: 130px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
        }

        .resume-box {
          width: 80%;
          margin: .3% 0 0 0;
        }

        #commercials {
          height: 80px;
        }

        #comedy {
          height: 115px;
        }

        #theatre {
          height: 100px;
        }

        .show {
          width: 40%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
        }

        .role {
          width: 20%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
        }

        .company {
          width: 40%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-end;
          text-align: right;
        }


/*-----------------------------------*/


.headshots_and_photos {
  width: 80%;
  height: 1200px;
  position: absolute;
  top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 0;
  transition: 0.5s;
  opacity: 0;
}

        .headshots_and_photos h1 {
          margin: 2% 0 1% 0;
        }

        .picture-box {
          height: 1100px;
          width: 90%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          flex-wrap: wrap;
          text-align: center;
        }

        .picture-box img {
          height: 24%;
        }




/*-----------------------------------*/


.reels-featured {
  width: 80%;
  height: 1200px;
  position: absolute;
  top: 100px;
  /*background-color: #FAFAFA;*/
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 0;
  transition: 0.5s;
  opacity: 0;
}

        .reels-featured h1 {
          margin: 5% 0 1% 0;
        }

        .reels-featured h3 {
         margin: 2% 0 0 0;
        }

        .reels-featured iframe {
          margin: 5% 0 5% 0;
        }

        .video-below {
          position: absolute;
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          align-items: center;
          width: 93%;
          margin-top: 3%;
        }

              .video-below-text {
                font-size: 13px;
                color: rgb(160, 65, 117);
              }

              .video-below-button {
                height: 16px;
                width: 16px;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                line-height: 20px;
                box-sizing: border-box;
                border: 1px solid rgb(160, 65, 117);
                color: rgb(160, 65, 117);
                margin-left: 1%;
                font-size: 12px;
              }

              .video-below-button:hover {
                cursor: pointer;
                background-color: rgb(160, 65, 117);
                color: white;
              }

        iframe {
          margin-right: 1%;
          margin-bottom: 1%;
        }

        .reel-boxes {
          height: 250px;
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
        }

        .reel-boxes div {
          height: 200px;
          width: 23%;
          display: flex;
          justify-content: center;
          align-items: center;
          box-sizing: border-box;
          border: 1px solid black;
          text-align: center;
        }

        .reel-boxes div:hover {
          background-color: rgb(160, 65, 117);
          color: white;
          border: none;
          cursor: pointer;
        }

        .reel-boxes h2 {
          font-size: 20px;
        }


/*-----------------------------------*/


.reels-commercials {
  width: 80%;
  height: 1200px;
  position: absolute;
  top: 100px;
  /*background-color: #FAFAFA;*/
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 0;
  transition: 0.5s;
  opacity: 0;
}

        .comercials {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
        }

        #view-more {
          margin-top: 7.5%;
          margin-bottom: -1%;
        }

        .reels-commercials h1 {
          margin-top: 5%;
        }

        .reels-commercials h3 {
          margin: 2% 0 5% 0;
        }

/*-----------------------------------*/



.reels-legit {
  width: 80%;
  height: 1200px;
  position: absolute;
  top: 100px;
  /*background-color: #FAFAFA;*/
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 0;
  transition: 0.5s;
  opacity: 0;
}


        .legit {
          width: 100%;
          height: 650px;
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
        }

        #reel-title {
          margin-bottom: 3%;
          margin: 1% 0 4% 0;
        }

        .reels-legit h1 {
          margin-top: 5%;
        }



/*-----------------------------------*/



.reels-voiceover {
  width: 80%;
  height: 1200px;
  position: absolute;
  top: 100px;
  /*background-color: #FAFAFA;*/
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 0;
  transition: 0.5s;
  opacity: 0;
}

        .voiceover {
          width: 100%;
          height: 700px;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
        }

        #bottom {
          margin: -1% 0 3% 0;
        }

        #space {
          margin-left: 5%;
        }

              .audio {
                height: 300px;
                width: 80%;
                margin-left: 10%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
              }

              audio {
                width: 70%;
                background-color: transparent;
              }

              .audio-box {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                height: 16%;
                width: 100%;
              }

              .audio-box p {
                display: block;
                height: 100%;
                width: 30%;
                text-align: left;
                margin-top: 4.2%;
                font-weight: lighter;
                font-size: 15px;
              }



/*-----------------------------------*/



.reels-writing {
  width: 80%;
  height: 1200px;
  position: absolute;
  top: 100px;
  /*background-color: #FAFAFA;*/
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 0;
  transition: 0.5s;
  opacity: 0;
}

        .writing {
          width: 100%;
          height: 800px;
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
        }

        #crunched {
          margin-top: -1%;
        }

        #room {
          margin-top: 2%;
        }

        .reels-writing .reel-boxes {
          height: 200px;
        }


/*-----------------------------------*/



.footer {
  height: 100px;
  width: 80%;
  box-sizing: border-box;
  border-top: 1px solid black;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 1300px;
  opacity: 0;
}

        .footer img {
          height: 40px;
          width: 40px;
          color: white;
          margin-left: 2%;
          margin-right: 2%;
          text-align: center;
          line-height: 80px;
        }

        .footer img:hover {
          cursor: pointer;
        }






















@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px)
and (orientation: portrait) {

  .header {
    height: 200px;
    width: 90%;
    margin-left: -5%;
  }

          .title {
            height: 200px;
          }

          .title h1 {
            font-size: 60px;
            margin-bottom: 2.5%
          }

          .title p {
            font-size: 25px;
          }

          .header nav {
            height: 150px;
            width: 75%;
            left: 28.5%;
          }

          .header nav p {
            font-size: 22px;
          }

  .main-container {
    width: 90%;
    margin-left: -5%;
    top: 200px;
  }

          .about-container {
            height: 850px;
          }

          .about-text {
            margin-top: 4%;
          }

          .about img {
            margin-top: 14%;
          }

          .about-text p {
            line-height: 27px;
          }

          .news-below {
            opacity: 0;
          }

          .headshots_and_photos h1 {
            margin: 5% 0 2% 0;
            font-size: 45px;
          }

          .picture-box {
            height: 1050px;
          }

          .picture-box img {
            height: 22%;
          }

          .video-below {
            opacity: 0;
          }

          .voiceover iframe {
            height: 30%;
          }

          .audio {
            height: 450px;
          }

          .audio-box p {
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
          }

          audio {
            height: 50px;
            font-size: 20px;
          }

  .footer {
    height: 150px;
    width: 90%;
    margin-left: -5%;
    top: 1400px;
  }

}

@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px)
and (orientation: landscape) {

}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation: portrait) {

  .header {
    height: 200px;
    width: 90%;
    margin-left: -5%;
  }

          .title {
            height: 200px;
          }

          .title h1 {
            font-size: 60px;
            margin-bottom: 2.5%
          }

          .title p {
            font-size: 25px;
          }

          .header nav {
            height: 150px;
            width: 75%;
            left: 28.5%;
          }

          .header nav p {
            font-size: 22px;
          }

  .main-container {
    width: 90%;
    margin-left: -5%;
    top: 200px;
  }

          .about-container {
            height: 850px;
          }

          .about-text {
            margin-top: 4%;
          }

          .about img {
            margin-top: 14%;
          }

          .about-text p {
            line-height: 27px;
          }

          .news-below {
            opacity: 0;
          }

          .headshots_and_photos h1 {
            margin: 5% 0 2% 0;
            font-size: 45px;
          }

          .picture-box {
            height: 1050px;
          }

          .picture-box img {
            height: 22%;
          }

          .video-below {
            opacity: 0;
          }

          .voiceover iframe {
            height: 30%;
          }

          .audio {
            height: 450px;
          }

          .audio-box p {
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
          }

          audio {
            height: 50px;
            font-size: 20px;
          }

  .footer {
    height: 150px;
    width: 90%;
    margin-left: -5%;
    top: 1400px;
  }

}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation: landscape) {

}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation: portrait) {

  .header {
    height: 200px;
    width: 90%;
    margin-left: -5%;
  }

          .title {
            height: 200px;
          }

          .title h1 {
            font-size: 60px;
            margin-bottom: 2.5%
          }

          .title p {
            font-size: 25px;
          }

          .header nav {
            height: 150px;
            width: 75%;
            left: 28.5%;
          }

          .header nav p {
            font-size: 22px;
          }

  .main-container {
    width: 90%;
    margin-left: -5%;
    top: 200px;
  }

          .about-container {
            height: 850px;
          }

          .about-text {
            margin-top: 4%;
          }

          .about img {
            margin-top: 14%;
          }

          .about-text p {
            line-height: 27px;
          }

          .news-below {
            opacity: 0;
          }

          .headshots_and_photos h1 {
            margin: 5% 0 2% 0;
            font-size: 45px;
          }

          .picture-box {
            height: 1050px;
          }

          .picture-box img {
            height: 22%;
          }

          .video-below {
            opacity: 0;
          }

          .voiceover iframe {
            height: 30%;
          }

          .audio {
            height: 450px;
          }

          .audio-box p {
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
          }

          audio {
            height: 50px;
            font-size: 20px;
          }

  .footer {
    height: 150px;
    width: 90%;
    margin-left: -5%;
    top: 1400px;
  }

}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation: landscape) {

}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1025px)
and (orientation: portrait) {

  .header {
    height: 200px;
    width: 90%;
    margin-left: -5%;
  }

          .title {
            height: 200px;
          }

          .title h1 {
            font-size: 60px;
            margin-bottom: 2.5%
          }

          .title p {
            font-size: 25px;
          }

          .header nav {
            height: 150px;
            width: 75%;
            left: 28.5%;
          }

          .header nav p {
            font-size: 22px;
          }

  .main-container {
    width: 90%;
    margin-left: -5%;
    top: 200px;
  }

          .about-container {
            height: 850px;
          }

          .about-text {
            margin-top: 4%;
          }

          .about img {
            margin-top: 14%;
          }

          .about-text p {
            line-height: 27px;
          }

          .news-below {
            opacity: 0;
          }

          .headshots_and_photos h1 {
            margin: 5% 0 2% 0;
            font-size: 45px;
          }

          .picture-box {
            height: 1050px;
          }

          .picture-box img {
            height: 22%;
          }

          .video-below {
            opacity: 0;
          }

          .voiceover iframe {
            height: 30%;
          }

          .audio {
            height: 450px;
          }

          .audio-box p {
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
          }

          audio {
            height: 50px;
            font-size: 20px;
          }

  .footer {
    height: 150px;
    width: 90%;
    margin-left: -5%;
    top: 1400px;
  }

}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1025px)
and (orientation: landscape) {

}
